h1{
    text-align: center;
     font-size: 30px;
   }
  .input{
   padding: 10px;
   border-radius: 10px;
  }
  .name{
   font-size: 20px;
  }
  h2{
   text-align: center;
   font-size: 30px;
   
  }
  .if{
   
   width: 100%;
  }